*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

header{
    height: 50px;
    background-color: #4F4F4F;
}

.header{
    
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.headerBlue{
    color: #48C5CE;
    display: inline-block;
}

.headerNormal{
    display: inline-block;

}

.headerMenu{
    background-color: black;
    position: relative;
    height: 100px;
}

.menu{
    background-color: transparent;
    display: flex;
    color:whitesmoke;
    list-style: none;
    position: absolute;
    transform: translateX(100%);
   
}

.btnMenu{
    
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 42px;
}

a{
    
}

.btnMenu:hover{
    cursor: pointer;
    background-color: #48C5CE;
}

.container{
}
.picture{
    width: 100%;
}